body {background-color:#06f325;
    margin: auto;
    
}
div {width: 700px;
        margin: auto;
        font-family: Helvetica Neue;
        background: white;
        padding: 40px;
        font-size: xx-large;
}
