H1 {
  font-size: larger;
  text-align: center;
  color: rgb(247, 0, 255);
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  text-align: center;
}
.boxes {
  display: flex;
  align-items: flex-start;
}

.box {
  width: 5rem;
  height: 5rem;
  margin: 2rem;
}

.box-one {
  background-color: aquamarine;
  width: auto;
}

.box-two {
  background-color: lightpink;
  position: relative;
  width: auto;
}

.box-three {
  background-color: yellow;
  width: auto;
}

.box-four {
  background-color: #ff7e05;
  position: relative;
  width: auto;
}

.box-five {
  background-color: #ff00b3;
  position: relative;

  width: auto;
}

.box-six {
  background-color: #02ff24;
  position: relative;
  width: auto;
}
