H1 {
  font-size: larger;
  text-align: center;
  color: rgb(247, 0, 255);
  font-family: Arial, Helvetica, sans-serif;
}

.boxes {
  display: grid;
  grid-template-rows: 100px 100px 100px 100px;
  grid-template-columns: 100px 100px 100px;
  align-items: center;
  justify-content: center;
}
.box-one {
  background-color: aquamarine;
  text-align: center;
  height: auto;
  width: auto;
}

.box-two {
  background-color: lightpink;
  text-align: center;
  height: auto;
  width: auto;
}

.box-three {
  background-color: yellow;
  text-align: center;
  height: auto;
  width: auto;
}

.box-four {
  background-color: #ff7e05;
  text-align: center;
  height: auto;
  width: auto;
}

.box-five {
  background-color: #ff00b3;
  text-align: center;
  height: auto;
  width: auto;
}

.box-six {
  background-color: #02ff24;
  text-align: center;
  height: auto;
  width: auto;
}
